


.button {
  width: auto;
  border: 1px solid;
  color: white;
  text-align: center;


}
.spectable {
  border: 1px solid;
  width: 600px;
  align-content: center;

}

.fittable {
  width: 100%;
  border: 1px solid;
  align-content: center;
  flex-flow: row wrap;
}
