.W100 {
  width: 100%;
}

.test {
  align-items: start;
}

table {
  border: 1px solid;
}

.button {
  border: none;
  color: white;
  text-align: center;
  padding: 5px;
}

.W400 {
  width: 400px;
}
.spectable {
  width: 600px;
  align-items: center;
  align-content: center;
}

.Alltoc {
  display: flex;
  justify-content: center;
}

.stretch {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.text1 {
  color: white;
}
